<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.5.1/jquery.min.js"></script>
    <title>Document</title>

    <script>
        function get_request() {
            fetch("/test").then(res => res.json()).then(data => {
                console.log(data)
            })
        }

        function post_request() {
            let formData = new FormData();
            formData.append("title_give", "블랙팬서");

            fetch("/test2", { method: "POST", body: formData }).then(res => res.json()).then(data => {
                console.log(data)
            })
        }
    </script>
</head>
    <h1>GET,POST 이해</h1>
    <button onclick="get_request()">나는 GET이야!!</button>
    <button onclick="post_request()">나는 POST야!!</button>
</body>

</html>